[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "deforestable"]
	path = deforestable
	url = https://github.com/cran/deforestable
	shallow = true
	registered = true
[submodule "HDShOP"]
	path = HDShOP
	url = https://github.com/otryakhin-dmitry/global-minimum-variance-portfolio
	shallow = true
	subdir = HDShOP
	registered = true
